<ion-view view-title="Historial">
  <ion-content class="padding">
    <h4 class="txtcentrado">Mis reservaciones</h4>
    <div class="list card" ng-show="true">
      <div class="item item-avatar" ng-repeat="item in reservaciones">
        <img src="{{item.logo}}">
        <div>
          <div class="left">
            <p style="font-weight:bold">{{item.hospital}}</p>
            {{item.cirugia}}
          </div>
           <div class="right">
            <p>{{item.fecha | date:'dd/MM/yyyy'}}</p>
                {{item.fecha | date:'HH:mm a'}}
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
