<ion-view view-title="Busqueda">
    <ion-content class="padding">
        <div class="list">
            <div class="item item-divider">
                Selecciona el día y la hora:
            </div>
            <div class="item item-icon-left" ion-datetime-picker dateTime ng-model="dateValue">
                <i class="icon ion-calendar"></i> {{dateValue| date: "EEEE dd-MM-yyyy HH:mm:ss"}}
            </div>
            <div class="item item-divider">
                Tiempo estimado de la cirugia:
            </div>
            <label class="item item-input item-select item-icon-left">
                 <i class="icon ion-clock"></i>
                    <div class="input-label label-mod">
                    Horas
                    </div>
                       <select ng-model="horaSel" ng-options="hora.des for hora in horas">
                        </select>
            </label>
            <div class="item item-divider">
                Seleccione su cirugia:
            </div>
            <label class="item item-input item-select item-icon-left">
                 <i class="icon ion-medkit"></i>
                    <div class="input-label label-mod">
                    Cirugia
                    </div>
                       <select ng-model="cirugiaSel" ng-options="cirugia.des for cirugia in cirugias">
                        </select>
            </label>
        </div>
    </ion-content>
</ion-view>