<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Usuario</h1>
    </ion-header-bar>
    <ion-content>
      <div class="list">
        <a class="item item-avatar user-info" href="#">
          <img src="img/user.png">
          <h2>{{usuario.nombres}}</h2>
          <h2>{{usuario.apellidos}}</h2>
          <p>{{usuario.correo}}</p>
        </a>
        <ion-item class="item-icon-left" menu-close href="#/menu/home">
          <i class="icon ion-ios-home"></i>
          Inicio
        </ion-item>
        <ion-item class="item-icon-left" menu-close href="#/menu/reservacion">
        <i class="icon ion-medkit"></i>
          Crear Reservación
        </ion-item>
        <ion-item class="item-icon-left" menu-close href="#/menu/perfil">
        <i class="icon ion-person"></i>
          Perfil
        </ion-item>
       <ion-item class="item-icon-left" menu-close href="#/menu/historial">
          <i class="icon ion-document"></i>
          Historial
        </ion-item>
        <!-- <ion-item class="item-icon-left" menu-close href="#/menu/pagos">
          <i class="icon ion-cash"></i>
          Pagos
        </ion-item> -->
      </div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
