.ion-datetime-picker {
  .calendar {
    text-align: center;
    font-size: 12px;

    .col {
      padding: 0;
    }
    .day, .weekday {
      padding: 5px;
    }
    .day {
      &:hover, &.activated, &.today:hover, &.today.activated {
        background-color: #bdf;
        color: black;
        cursor: pointer;
      }
      &.today {
        background-color: #e4e4e4;
      }
      &.selected, &.selected:hover, &.selected.activated {
        background-color: #387ef5;
        color: white;
      }
      &.disabled, &.disabled:hover, &.disabled.activated {
        background-color: #ccc;
      }
    }
    .weekday {
      font-weight: bold;
    }
  }
  .month-year {
    padding: 0;
    text-align: center;

    select {
      width: 100%;
    }
    .button {
      padding: 0;
      width: 100%;
      height: 25px;
      min-width: 0;
      min-height: 0;
    }
    .item-input {
      height: 25px;
      padding: 0;
      margin: 0;

      &.item-select:after {
        right: 5px;
      }
      input, select {
        font-size: 12px;
        width: 100%;
        height: 100%;
        max-width: none;
        line-height: 20px;
      }
      select {
        left: 0;
        padding: 0 15px 0 1px;
        direction: ltr;
      }
      input {
        text-align: center;
        padding: 0 5px;

        &.ng-invalid {
          background-color: #ffe4ea;
        }
        &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
          display: none;
        }
      }
    }
  }

  .time-buttons {
    .col {
      padding: 0;
    }
    .button {
      padding: 0;
      width: 100%;
      height: 36px;
      min-width: 0;
      min-height: 0;
    }
    .button:before {
      line-height: 35px;
    }
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      padding-bottom: 0;
    }
  }

  .time {
    .col {
      padding: 0;
    }
    .colon {
      color: #999;
      font-size: 16px;
      padding: 0;
      text-align: center;
      line-height: 32px;
    }
    .item-input {
      height: 35px;
      padding: 0;
      margin: 0;

      input {
        font-size: 16px;
        width: 100%;
        height: 100%;
        max-width: none;
        text-align: center;
        padding: 0 5px;

        &.ng-invalid {
          background-color: #ffe4ea;
        }
        &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
          display: none;
        }
      }
    }
  }
}